@import "tailwindcss";
@plugin 'tailwind-scrollbar';
@plugin "daisyui" {
  themes: winter --default, dracula --prefersdark;
}
/* styles.css o un archivo global */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%; /* Asegúrate de que el body tenga una altura del 100% */
  overflow-x: hidden; /* Evita el desplazamiento horizontal */
  background-color: var(--color-neutral);
}

#root {
  height: 100%; /* Asegúrate de que el contenedor de React ocupe el 100% de la altura */
  width: 100%; /* Asegúrate de que el contenedor de React ocupe el 100% de la anchura */
}
